h1{color: #543609;
font-style: italic;
}
.nav-item li{display: inline-block;
margin-right: 100px;}
nav,footer{background-color:#3E7D3E; }
main{background-color: #BFE1F5;}
img{text-align: center;}




